<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

<section class="hero-base">

<div class="hero-base-top"></div>

<div class="hero-base-inner container-new">

  <div class="hero-base-heading">
    <p class="hero-base-tag  caps-wide">Atmosphere by Design</p>
    <h1 class="hero-base-title">BASE.</h1>
  </div>

  <p class=" hero-base-subtitle">
    The Sound of the Brand
  </p>

  <p class="heading-lg hero-base-side">
    Artistry Meets<br>Architecture
  </p>

</div>

<amp-img
src="/img/houses.png"
width="1348"
height="649"
layout="responsive"
class="hero-base-building"
alt="Buildings">
</amp-img>

<div class="hero-base-circles">
  <div class="hero-base-circle hero-base-circle-xl"></div>
  <div class="hero-base-circle hero-base-circle-big"></div>
  <div class="hero-base-circle hero-base-circle-mid"></div>
  <div class="hero-base-circle hero-base-circle-small"></div>
</div>

<amp-img
src="/img/barcode.png"
width="210"
height="113"
layout="responsive"
class="hero-base-barcode"
alt="barcode">
</amp-img>

</section>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

</body>
</html>