


<div class="  flex flex-column flex-auto  button-container" style="display: flex;
align-items: center;
justify-content: flex-start;">

    <a class="button--primary caps text-decoration-none inline-block" href="{{ .Permalink }}" style="border: solid 0.188rem black;
    line-height: 100%;
    letter-spacing: 0.48px; border-radius: 4rem; padding: 0.875rem 2.5rem; align-items: center;
    justify-content: center; display: flex; background-color: #ff7300;
    font-weight: 900; font-style: normal;">
    {{ .Title }}
    

    </a>
  
 
</div>
