                        <div class="ampstart-card abe-sample-card flex flex-column flex-auto  mb1">
                            <h3  style=" margin:0; font-size: 1.4em; 
  font-weight: 600; ">{{ .Title }}<i class=""></i></h3>
                            {{if gt (len .Summary) 200}}
                                <p class="mb1" >{{slicestr .Summary 3 200 }}</p>
                            {{else}}
                                <p class="mb1" style="margin: 0;">{{ .Summary }}</p>
                            {{end}}
                            <div class="abe-sample-card-actions">
                            <!-- <a class="ampstart-btn ampstart-btn-secondary caps text-decoration-none inline-block" href="{{ .Permalink }}">Read More…</a> -->
                            <a class="  inline-block" 
                            style="font-size: 0.75rem; font-weight: 800;"
                            
                            
                            href="{{ .Permalink }}">Read More…</a></div>
                        </div>
