{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div class="flex">
  <aside class="col-1 xs-hide"></aside>
  <article class="flex-auto col-8">
    <h1 style="font-size: 48px; color: #232323; margin-bottom: 80px;">Lab</h1>

    <div class="flex flex-wrap">
      {{ range .Pages }}
        <div class="blog-post-preview" style="width:100%; margin-bottom: 40px;">
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <p>{{ .Summary }}</p>
          <small>Published on {{ .Date.Format "Jan 2, 2006" }}</small>
        </div>
      {{ end }}
    </div>

  </article>
  <aside class="col-1 xs-hide"></aside>
</div>

{{ partial "footer.html" . }}