{{ partial "head.html" . }}
{{ partial "header.html" . }}


<section class="section-lg section-block--soft zigzag-section">
  <div class="container">


<header class="section-header">
  <h1 class="blog-title">The Lab</h1>
  <p class="blog-subtitle">
    Explore our news and articles on design, experiments, and creative work.
  </p>
</header>

<div class="flex">
  <aside class="col-1 xs-hide"></aside>


{{ range .RegularPages }}

  <article class="blog-card">

    {{ $page := . }}



    <div class="blog-card__content">

      <h2 class="blog-card__title">
        <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
      </h2>

   <p>{{ .Summary | plainify | truncate 180 }}</p>

      <div class="blog-card__meta">
        {{ with $page.Params.categories }}
          <span>{{ delimit . ", " }}</span>
          <span>•</span>
        {{ end }}
        <span>{{ $page.Date.Format "Jan 2, 2006" }}</span>
      </div>

    </div>

      {{ if $page.Params.heroImage }}
  <a href="{{ $page.RelPermalink }}">
   <img class="blog-card__image"
     src="{{ index $page.Params.heroImage 0 | relURL }}">
  </a>
{{ end }}

  </article>

{{ end }}




  <aside class="col-1 xs-hide"></aside>
</div>
 

</div> </section>

{{ partial "footer.html" . }}