 
{{ partial "head.html" . }}

{{ partial "header-article.html" . }}


<div class="hero flex" >

<aside class="col-1 xs-hide"></aside> 




    <div class="col-10 article flex flex-auto " >
       
<div class="container flex" style="flex-direction: column; width:100%; flex-basis: 100%;" > 
     <div class="intro__text" style="max-width: 80rem; text-align: center; display: flex;
     flex-direction: column;  margin: auto;
    
 ">   

<p class="cover__eyebrow glue-label">Lab sessions</p>


    <h1 class="h1 article"      
    >{{ .Title }}

</h1>
    <dl class="cover__meta">
      
      
        <dd class="article-cover__date glue-label"><time datetime="2025-04-02">2 April 2025</time></dd>
      
        {{ with .Params.lead }}
        <dd class="cover__lead"> 
            {{ . }} </dd>
        {{ end }}
    </dl>
  
  
   
  
  
</div>
<div class="intro__media" style="
 "> 
     
  
{{ with .Params.heroVideo }}
<amp-video  
width="16"
height="9"
layout="responsive" loop autoplay

poster="/static/inline-examples/images/kitten-playing.png">       
<source src="{{ index . 0 }}"
type="video/mp4"
/>  
{{ end }}  


</div>


       


   


    </div>

</div>

<aside class="col-1 xs-hide"></aside>
</div>



    <amp-selector layout="container">
        <main class="flex single-article">
<!--
            <aside class="www-components-sec-nav col-3 xs-hide sm-hide relative">
                <ul class="www-component-anchors list-reset m0 p0 px1 caps">
                    <li class="clearfix mb3"><a href="#introduction" class="www-component-anchor text-decoration-none left" option="introduction">Introduction</a></li>
                    <li class="clearfix mb3"><a href="#head" class="www-component-anchor text-decoration-none left" option="head">Head</a></li>
                    <li class="clearfix mb3"><a href="#body" class="www-component-anchor text-decoration-none left" option="body">Body</a></li>
                </ul>
            </aside>
-->
            <aside class="col-3 xs-hide"></aside>

            <article class="rich-text flex-auto col-10">
                <section class="" style="margin-bottom: 50px;
  ">
                  
                {{ .Content }}
                </section>
<!--
                <section class="www-component-desc">
                    <h2 id="introduction" class="www-heading pb4 mb2 relative h3">Introduction</h2>
                    <p class="mb2 px1">An AMP HTML tutorial - learn the different building blocks of an AMP HTML file. AMP HTML is entirely built on existing web technologies. It achieves reliable performance by restricting some parts of HTML, CSS and JavaScript. To make up for those limitations AMP HTML defines a set of custom elements for rich content beyond basic HTML. This samples shows what&#39;s necessary to create a valid AMP HTML file.</p>
                </section>
                <section class="www-component-desc">
                    <p class="mb2 px1">Doctype declaration is required.</p>
                    <div class="abe-code-container">
                        <div class="abe-code-preview ampstart-card mb1">
                            <div class="abe-code fit px1 pb1 p1"><pre class="hljs html p0 m0"><span class="hljs-meta">&lt;!doctype html&gt;</span></pre></div>
                        </div>
                    </div>
                </section>
-->


{{ with .Params.references }}
<h1> References</h1>
<span style="font-size: 0.75rem;
font-weight: 700;
line-height: 125%;
text-transform: uppercase;
margin-bottom: 0.625rem;
display: inline-block;">&nbsp{{ . }}</span>
{{ end }}

            </article>

            <aside class="col-3 xs-hide"></aside>
        </main>
    </amp-selector>
{{ partial "footer.html" . }}


