



  <div class="hero-carousel">
    <amp-carousel
      height="316"
      layout="fixed-height"
      type="carousel"
      autoplay=""
      loop="3"
    >
    <div class="carousel-slide"> 
      <amp-img
      src="/img/hp3-mob.webp"
      srcset="/img/hp3-mob.webp 1x, /img/hp3-mob.webp 2x"
        width="361"
        height="316"  class="gap"
      ></amp-img>
      <div class="carousel-caption">Caption for Image 3</div>
    </div>
      <amp-img
      src="/img/hp3-mob.webp"
      srcset="/img/hp3-mob.webp 1x, /img/hp3-mob.webp 2x"
        width="211"
        height="316" style="  margin-left: 20px;"
      ></amp-img>
      <amp-img
        src="/img/hp3-mob.webp"
        srcset="/img/hp3-mob.webp 1x, /img/hp3-mob.webp 2x"
        width="316"
        height="316" style="  margin-left: 20px;"
      ></amp-img>
      <amp-img
        src="/img/hp3-mob.webp"
        srcset="/img/hp3-mob.webp 1x, /img/hp3-mob.webp 2x"
        width="517"
        height="316" style="  margin-left: 20px;"
      ></amp-img>
      <amp-img
      src="/img/hp3-mob.webp"
      srcset="/img/hp3-mob.webp 1x, /img/hp3-mob.webp 2x"
        width="473"
        height="316"  style="  margin-left: 20px;"
      ></amp-img>
      <amp-img
      src="/img/hp3-mob.webp"
      srcset="/img/hp3-mob.webp 1x, /img/hp3-mob.webp 2x"
        width="364"
        height="316" style="  margin-left: 20px;
        "
      ></amp-img>
    </amp-carousel>
  </div>