



  <div class="hero-carousel">
    <amp-carousel
      height="316"
      layout="fixed-height"
      type="carousel"
      autoplay=""
      loop="3"
    >
    <div class="carousel-slide" style="  margin-left: -60px;"> 
      <amp-img
      src="https://media0.giphy.com/media/YFFDaSvPgRpQTQUAMA/giphy.gif?cid=6c09b952gyu4k2hq7r096frtx1mqv4wi9djdmpz47ap9upk6&amp;ep=v1_internal_gif_by_id&amp;rid=giphy.gif&amp;ct=s" 
      srcset="https://media0.giphy.com/media/YFFDaSvPgRpQTQUAMA/giphy.gif?cid=6c09b952gyu4k2hq7r096frtx1mqv4wi9djdmpz47ap9upk6&amp;ep=v1_internal_gif_by_id&amp;rid=giphy.gif&amp;ct=s 1x, https://media0.giphy.com/media/YFFDaSvPgRpQTQUAMA/giphy.gif?cid=6c09b952gyu4k2hq7r096frtx1mqv4wi9djdmpz47ap9upk6&amp;ep=v1_internal_gif_by_id&amp;rid=giphy.gif&amp;ct=s 2x"
        width="361"
        height="316" 
      ></amp-img>
      <div class="carousel-caption">
        
        <img src="https://encrypted-tbn2.gstatic.com/faviconV2?url=https://youtube.com&amp;client=VFE&amp;size=16&amp;type=FAVICON&amp;fallback_opts=TYPE,SIZE,URL&amp;nfrp=2" jsaction="error:trigger.Ci0Ntd" alt="" class="no69gc" jsname="i1Vy9" data-sz="16" data-ilt="1740592122345">
        
        
      All what you like. Animated features etc..</div>
    </div>
      <amp-img
      src="/img/hp3-mob.webp"
      srcset="/img/hp3-mob.webp 1x, /img/hp3-mob.webp 2x"
        width="211"
        height="316" style="  margin-left: 20px;"
      ></amp-img>
      <amp-img
        src="/img/hp3-mob.webp"
        srcset="/img/hp3-mob.webp 1x, /img/hp3-mob.webp 2x"
        width="316"
        height="316" style="  margin-left: 20px;"
      ></amp-img>
      <amp-img
        src="/img/hp3-mob.webp"
        srcset="/img/hp3-mob.webp 1x, /img/hp3-mob.webp 2x"
        width="517"
        height="316" style="  margin-left: 20px;"
      ></amp-img>
      <amp-img
      src="/img/hp3-mob.webp"
      srcset="/img/hp3-mob.webp 1x, /img/hp3-mob.webp 2x"
        width="473"
        height="316"  style="  margin-left: 20px;"
      ></amp-img>
      <amp-img
      src="/img/hp3-mob.webp"
      srcset="/img/hp3-mob.webp 1x, /img/hp3-mob.webp 2x"
        width="364"
        height="316" style="  margin-left: 20px;
        "
      ></amp-img>
    </amp-carousel>
  </div>