

    
<amp-lightbox id="storyLightbox" layout="nodisplay">
  <div class="modal-overlay">
    <div class="modal-card">

      <button class="close-btn"
              on="tap:storyLightbox.close">
        ✕
      </button>

      <amp-iframe
        width="800"
        height="600"
        layout="responsive"
        sandbox="allow-scripts allow-same-origin"
        src="https://bassscene.co.uk/porijazz/">
      </amp-iframe>

    </div>
  </div>
</amp-lightbox>

<amp-lightbox id="storyLightbox2" layout="nodisplay">
  <div class="modal-overlay">

    <div class="modal-card">

      <button class="close-btn"
              on="tap:storyLightbox2.close">
        ✕
      </button>

      <amp-iframe
        width="800"
        height="600"
        layout="responsive"
        sandbox="allow-scripts allow-same-origin"
        src="https://ukgacts.github.io/">
      </amp-iframe>

    </div>

  </div>
</amp-lightbox>

</body>

</html>
