  <!-- Start Navbar -->
<header class="ampstart-headerbar">

  <div role="button"
       on="tap:header-sidebar.toggle"
       tabindex="0"
       class="ampstart-navbar-trigger md-hide lg-hide">
    ☰
  </div>

  <a href="/" class="logo">
    <amp-img src="/img/logo-tms.webp" media="(max-width: 980px)" width="64" height="39" layout="fixed" alt="{{ .Title }}"></amp-img> 
        <amp-img src="/img/logo-tms.webp" media="(min-width: 980px)" width="100" height="61" layout="fixed" alt="{{ .Title }}"></amp-img> 
   
  </a>



  <nav class="ampstart-headerbar-nav xs-hide sm-hide">
    <ul>
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>

  <div class="header-cta xs-hide sm-hide">
    <a href="/blog">The Lab</a>
  </div>

</header>


    <!-- Start Sidebar -->
    <amp-sidebar id="header-sidebar" class="ampstart-sidebar px3 flex flex-column md-hide lg-hide" layout="nodisplay">
        <div class="flex justify-start items-center ampstart-sidebar-header"><a href="#" on="tap:header-sidebar.toggle" class="ampstart-navbar-trigger items-start">✕</a></div>
        <nav class="ampstart-sidebar-nav ampstart-nav">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <ul class="list-reset m0 p0 caps h5">
                <li class="ampstart-nav-item ampstart-nav-dropdown relative">
                    <!-- Start Dropdown-inline -->
                    <amp-accordion layout="container" disable-session-states class="ampstart-dropdown">
                        <section>
                            <header>{{ .Name }}</header>
                            <ul class="ampstart-dropdown-items list-reset m0 p0">
                            {{ range .Children }}
                                <li class="ampstart-dropdown-item"><a href="{{.URL}}" class="text-decoration-none">{{ .Name }}</a></li>
                            {{end}}
                            <li>sskdjhfsk</li>
                            </ul>
                        </section>
                    </amp-accordion>
                    <!-- End Dropdown-inline -->
                </li>
            </ul>
            {{else}}
                <a href="{{.URL}}" class="block caps h5 py1 abe-primary">{{ .Name }}</a>
            {{end}}
          {{end}}
        </nav>
    </amp-sidebar>
    <!-- End Sidebar -->
    <!-- End Navbar -->