<!-- Start Navbar -->




<header class="ampstart-headerbar  flex justify-start items-center top-0 left-0 right-0 "   
>
<aside class="col-1 xs-hide"></aside>


  <div role="button" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger md-hide lg-hide"
  >
  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>



</div>
    <a href="/" class="logo my0 mx-auto left-1" style="margin-top: 10px;">
      
        <amp-img src="/img/logo-tms.webp" media="(max-width: 980px)" width="64" height="39" layout="fixed" alt="{{ .Title }}"></amp-img> 
        <amp-img src="/img/logo-tms.webp" media="(min-width: 980px)" width="100" height="61" layout="fixed" alt="{{ .Title }}"></amp-img> 
    </a>
    <nav class="ampstart-headerbar-nav ampstart-nav xs-hide sm-hide">
        <ul class="list-reset m0 p0 flex justify-start nowrap">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="ampstart-nav-item abe-nav-list{{if $currentPage.HasMenuCurrent "main" . }} www-current-page{{end}}"><a href="/" class="text-decoration-none block">{{ .Name }}

              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#bbb"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>



            </a>
            <div class="abe-list-container">
                <div class="abe-list-shadow"></div>
                <ul class="list-reset m0 p0">
                  {{ range .Children }}
                    <li><a href="{{.URL}}">{{ .Name }}</a></li>
                  {{end}}

                </ul>
            </div>
            </li>
          {{else}}
            <li class="ampstart-nav-item{{if $currentPage.IsMenuCurrent "main" . }} www-current-page{{end}}"><a href="{{.URL}}" class="text-decoration-none block">{{ .Name }}</a></li>
          {{end}}
        {{end}}


        
  
          
         
          
       
        </ul>
    </nav>

    <div class="button-container-home xs-hide" >



      <a style="margin: 8px 0;  position: relative; cursor: pointer; height: 20px;
      display: inline-block;
        text-decoration: none;"  href="/post"  >
        
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#61656a"><path d="M180-120q-25 0-42.5-17.5T120-180v-76l160-142v278H180Zm140 0v-160h320v160H320Zm360 0v-328L509-600l121-107 190 169q10 9 15 20.5t5 24.5v313q0 25-17.5 42.5T780-120H680ZM120-310v-183q0-13 5-25t15-20l300-266q8-8 18.5-11.5T480-819q11 0 21.5 3.5T520-804l80 71-480 423Z"/></svg></li>
       


      
      </a>
              </div>
  
    <div class="button-container" style="display: flex;
    align-items: center;" >



<a style="display: flex;
align-items: center;  position: relative; cursor: pointer; 

color: #61656a;
letter-spacing: .25px;
line-height: 1.5;

font-size: 16px;
font-weight: 500;
text-decoration: none;"  href="/post"  > 

<span style="display: block;
margin-right: 4px;">Blog</span>


</a>
    </div>


    <aside class="col-1 xs-hide"></aside>

</header>


<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar flex flex-column md-hide lg-hide" layout="nodisplay">
    <div class="flex justify-end items-center ampstart-sidebar-header"><a href="#" on="tap:header-sidebar.toggle" class="ampstart-navbar-trigger items-start">✕</a></div>
    <nav class="ampstart-sidebar-nav ampstart-nav">

       <a style="  position: relative; cursor: pointer;
        text-decoration: none; font-size: 0.95em;
font-weight: 400;
line-height: 1.4; display: flex;
align-items: center;

font-size: 0.95em;
font-weight: 400;



" href="/post">
        
        <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="black"><path d="M180-120q-25 0-42.5-17.5T120-180v-76l160-142v278H180Zm140 0v-160h320v160H320Zm360 0v-328L509-600l121-107 190 169q10 9 15 20.5t5 24.5v313q0 25-17.5 42.5T780-120H680ZM120-310v-183q0-13 5-25t15-20l300-266q8-8 18.5-11.5T480-819q11 0 21.5 3.5T520-804l80 71-480 423Z"></path></svg>
   <span style="padding-left: .5rem;"> Home</span>    


      
      </a>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <ul class="list-reset m0 p0 h5">

 
            <li class="ampstart-nav-item ampstart-nav-dropdown relative">

              
                <!-- Start Dropdown-inline -->
                <amp-accordion layout="container" disable-session-states class="ampstart-dropdown">
                    <section>
                        <header>{{ .Name }}</header>
                        <ul class="ampstart-dropdown-items list-reset m0 p0">
                        {{ range .Children }}
                            <li class="ampstart-dropdown-item"><a href="{{.URL}}" class="text-decoration-none">{{ .Name }}</a></li>
                        {{end}}
                       
                       
                        </ul>


                        
                    </section>
                </amp-accordion>
                <!-- End Dropdown-inline -->
            </li>

            
        </ul>
        {{else}}
            <a href="{{.URL}}" class="block  h5 py1 abe-primary">{{ .Name }}</a>
        {{end}}
      {{end}}


    </nav>
</amp-sidebar>
<!-- End Sidebar -->
<!-- End Navbar -->
