    

    <div class="flex flex-column  pxy3 " style="padding-top: 15px; padding-bottom:40px; ">


      <div class="glue-grid card-wrapper border-bottom">
        <div class="glue-grid__col glue-grid__col--span-6 glue-grid__col glue-grid__col--span-12-md">
          <div class="product-card-headline " style=" background: linear-gradient(to right, #4A8AF4, #C86BA8, #E57373);
          background-clip: text;
          color: transparent;">
            Who we are  and what we do
          </div>
        </div>
        <div class="glue-grid__col glue-grid__col--span-6 glue-grid__col glue-grid__col--span-12-md">
          <div class="product-card-description load-in-hidden load-in-visible">
            Hey! Welcome to Tell Me Something or TMS for short! a platform that transforms content into an interactive, swipe-based experience. Our format looks and feels like the stories you see on social media, but unlike those, TMS is a standalone platform—built for businesses, brands, and creators who want to engage their audience in a fresh, immersive way.

With TMS, you can create dynamic, mobile-friendly content that is easy to navigate, visually engaging, Addictively interactive and optimized for search engines. Whether you're showcasing products, sharing information, or telling your brand’s story, our platform makes it simple to deliver your message in a way that captures attention and keeps users engaged. 
          
          </div>
        </div>
      </div>



     

      <div class="glue-grid card-wrapper ">
        
   
        <div class="glue-grid__col glue-grid__col--span-6 glue-grid__col glue-grid__col--span-12-md">
          <div class="product-card-description load-in-hidden load-in-visible">
            In today’s fast-paced digital world, websites are often overloaded with information, making it hard to capture attention. TMS offers a smarter, more engaging way to present content. 
          Whether you’re: 
         
          </div>
        </div>
       
        <div class="glue-grid__col glue-grid__col--span-6 glue-grid__col glue-grid__col--span-12-md">
          <div class="product-card-headline load-in-hidden load-in-visible">
            How Can Visiflow Benefit You?
          </div>
        </div>

      </div>
    


      <div class="timeline card-wrapper border-bottom">
        <div class="timeline-item">
            <div class="dot"></div>
            <p>Launching a new product and need a fresh, interactive way to showcase its features</p>
        </div>
        <div class="timeline-item">
            <div class="dot"></div>
            <p>Building a portfolio that stands out from traditional websites</p>
        </div>
      
        <div class="timeline-item">
            <div class="dot"></div>
            <p>Sharing important information in a format that’s easy to navigate and visually engaging</p>
        </div>
    </div>



    <div class="glue-grid card-wrapper border-bottom">
      <div class="glue-grid__col glue-grid__col--span-6 glue-grid__col glue-grid__col--span-12-md">
        <div class="product-card-headline load-in-hidden load-in-visible">


          

          <amp-video 
          width="16"
          height="9"
          layout="responsive" loop autoplay
          poster="/static/inline-examples/images/kitten-playing.png">
          <source src="https://storage.googleapis.com/ai-prod-wagtail/documents/android.mp4"
            type="video/mp4" />
          
          <div fallback>
            <p>This browser does not support the video element.</p>
          </div>
        </amp-video>


          
        </div>
      </div>
      <div class="glue-grid__col glue-grid__col--span-6 glue-grid__col glue-grid__col--span-12-md">
        <div class="product-card-description load-in-hidden load-in-visible">
          TMS is versatile and adaptable—it can be used for marketing, presentations, storytelling, and more.
          Unlike traditional websites that can feel cluttered and overwhelming, our interactive, swipe-based experience keeps users focused, engaged, and wanting more. This can act as a stand-alone feature or simply a link out as an extension of your website for interactive exposure.

          With SEO-friendly, mobile-optimized, and standalone content, TMS helps your message cut through the noise and reach the right audience effectively.
              
        </div>
      </div>
    </div>

</div>






  <div class="glue-grid card-wrapper">
    

    <div class="glue-grid__col glue-grid__col--span-6 glue-grid__col glue-grid__col--span-12-md">
      <div class="product-card-description load-in-hidden load-in-visible">
        At TMS, every project is handcrafted and coded from the ground up—nothing is templated or mass-produced. Our team combines art, design, and coding expertise to create a truly unique and outstanding experience tailored to your needs.

        With backgrounds in graphic design, video production, web development, and interactive media, we don’t just build content—we craft an experience that is visually striking, highly functional, and engaging.
     
      </div>
    </div>
   
    <div class="glue-grid__col glue-grid__col--span-6 glue-grid__col glue-grid__col--span-12-md">


     



      <div class="product-card-headline load-in-hidden load-in-visible">
        How Do We Do It?
      </div>
    </div>

  </div>
 



  <section class="button-group" style="padding: 0 0 60px;">
  

    <ul class="button-group__buttons glue-no-bullet" style="display: flex;
    flex-wrap: wrap;
    gap:
  8px;
    justify-content: center; list-style: none;">
      
        <li>
              <gemini-button data-in-view="" class="gemini-in-view-element gemini-in-view-element--in-view"
              
             style="background: linear-gradient(90deg, #3366cc, #2aa89a);
             border: 2px solid #2c65d1;
             color: white;
             font-size: 16px;
             font-weight: 500;
             padding: 12px 24px;
             border-radius: 30px;
             cursor: pointer;
             transition: all 0.3s ease-in-out;
             outline: none;" 
              
              >
                <a class=" glue-button"  href="/post" style="text-decoration: none;">
        <span class="button__text" style="letter-spacing: .5px;">Read our blog</span>
        
      </a>
              </gemini-button>
          </li>
          
      
    </ul>
  </section>

























   
   