<section class="section section-sm">
  <div class="container">

    <h2 class="section-title">How does it look like?</h2>

    <div class="services-grid">

      <div class="service-col">
        <h3> Pulseframe preview on the messanger</h3>

          <div class="insigght-media">
            <amp-img
              src="/img/illustrations/45.jpg"
              width="250"
              height="120"
              layout="responsive"
              alt="">
            </amp-img>
          </div>

        <p>
          Use short-form vertical video to communicate atmosphere,
          legacy, and energy before arrival.
        </p>
      </div>

      <div class="service-col">
        <h3>Links inside</h3>
        <p>
          Build a logical slide sequence answering
          every international visitor’s key question.
        </p>
      </div>

      <div class="service-col">
        <h3>3. Seamless Conversion Path</h3>
        <p>
          Integrate accommodation, travel guidance,
          and direct ticket links inside the story experience.
        </p>
      </div>

    </div>
  </div>
</section>