{{ partial "head.html" . }}
{{ partial "header-article.html" . }}
<div class="hero flex"> 

    <header class="www-header home col-8  flex-auto" style="min-height: 320px;">
       
      

        </header>

   
        
    </div>


     </div>

     
    
    <amp-selector layout="container">
        <main class="flex ">



            
<!--
            <aside class="www-components-sec-nav col-2 xs-hide sm-hide relative">
                <ul class="www-component-anchors list-reset m0 pt0 pb3 px1 caps">
                    <li class="clearfix mb3"><a href="/#introduction" class="www-component-anchor text-decoration-none left" option="">Introduction</a></li>
                    <li class="clearfix mb3"><a href="/#components" class="www-component-anchor text-decoration-none left" option="">Components</a></li>
                    <li class="clearfix mb3"><a href="/#advanced" class="www-component-anchor text-decoration-none left" option="">Advanced</a></li>
                    <li class="clearfix mb3"><a href="/#samples_templates" class="www-component-anchor text-decoration-none left" option="">Samples &amp; Templates</a></li>
                </ul>
            </aside>
-->
<aside class="col-2 xs-hide"></aside>
            <article class=" flex-auto col-8">
                <section  id="home_page">

                    {{ partial "homepage_row.html" . }}
<!--
                    <h2 class="www-heading pb4 mb2 relative">Samples &amp; Templates</h2>
                    <div class="mb4">
                        <p>Templates and metadata samples for different kinds of AMPs.</p>
                    </div>
-->




<div class="glue-grid card-wrapper" style="padding: 120px 0;">


    
    <div class="glue-grid__col glue-grid__col--span-6 glue-grid__col glue-grid__col--span-12-md">
      <div class="product-card-headline load-in-hidden load-in-visible">
       Pulse Frames

       <p>We're particularly fluent in </p>
      </div>
    </div>
    <div class="glue-grid__col glue-grid__col--span-6 glue-grid__col glue-grid__col--span-12-md">
      <div class="product-card-description load-in-hidden load-in-visible">
        Pulse frames adapt to the way your audience consumes content. From classic carousel posts that guide viewers through your story slide by slide, to immersive story formats made for instant sharing on social media and Messenger, your message stays dynamic, accessible, and ready to perform wherever it’s seen.
      
    <br> Do you want an example?
    
    </div>




      
    </div>




    
  </div>







      <div class="timeline card-wrapper border-bottom">
        <div class="timeline-item">
            <div class="dot"></div>
            <p>Brand Manifestos</p>
        </div>
        <div class="timeline-item">
            <div class="dot"></div>
            <p>Event Narratives</p>
        </div>
            <div class="timeline-item">
            <div class="dot"></div>
            <p>Press Kits</p>
        </div>
      
        <div class="timeline-item">
            <div class="dot"></div>
            <p>Product Deep Dives</p>
        </div>
    </div>
                 
                </section>
            </article>

<aside class="col-2 xs-hide"></aside>
        </main>
    </amp-selector>



{{ partial "footer.html" . }}
