{{ partial "head.html" . }}
{{ partial "header.html" . }}


<section class="hero">

<div class="hero-top"></div>

  <div class="hero-content">
    <p class="tag">ATMOSPHERE BY DESIGN</p>
    <h1>BASE.</h1>
    <p class="subtitle">THE SOUND OF THE BRAND</p>
    <p class="side-text">ARTISTRY MEETS<br>ARCHITECTURE</p>
  </div>

<amp-img
  src="/img/houses.png"
  width="1348"
  height="649"
  layout="responsive"
  class="hero-image"
  alt="Buildings">
</amp-img>

  <div class="circle big"></div>
  <div class="circle mid"></div>
  <div class="circle small"></div>



<amp-img
  src="/img/barcode.png"
  width="210"
  height="113"
  layout="responsive"
  class="barcode-image"
  alt="Buildings">
</amp-img>


   
</section>







<section class="cta-section">
  <div class="cta-inner">
    <h2>The Page is coming</h2>
    <p>We promise there's a more enjoyable way forward.</p>
  
  </div>


</section>





{{ partial "footer.html" . }}
