{{ partial "head.html" . }}
{{ partial "header.html" . }}


<section class="hero-v2 frame ">

  <div class="hero-v2-top pink">

       <div class="hero-v2-text">
      <span class="hero-v2-tag caps">AUDIO INFRASTRUCTURE</span>
      <h1 class="hero-v2-title">SIGNAL.</h1>
      <p class="hero-v2-sub">ACOUSTIC LOGIC</p>
    </div>

<div class="hero-v2-circles">
 <svg viewBox="0 0 1000 1000" preserveAspectRatio="xMaxYMin slice">

  <!-- outer -->
  <circle cx="1150" cy="-120" r="880" fill="#f0c6b8" />

  <!-- big -->
  <circle cx="1150" cy="60" r="700" fill="#e79192" />

  <!-- mid -->
  <circle cx="1150" cy="240" r="520" fill="#dd5d78" />

  <!-- inner -->
  <circle cx="1150" cy="420" r="360" fill="#c62254" />

</svg>
</div>



  </div>

  <div class="hero-v2-inner container">

 

   

  </div>

  <amp-img
src="/img/tannoy1.webp"
width="709"
height="619"
layout="responsive"
class="hero-v2-tannoy"
alt="image">
</amp-img>


<aside class="hero-v2-side tagline">
  <h2 class="heading-md caps-tight hero-v2-question">
   THE VIBRATION OF THE FRAME
  </h2>

 
</aside>



    

    <amp-img
src="/img/barcode.png"
width="210"
height="113"
layout="responsive"
class="hero-base-barcode"
alt="barcode">
</amp-img>

</section>


<section class="section  section-lg ">
  <div class="container">


<h1 class="display-md">
The Page is coming
</h1>

<hr class="hr">
    <p class="subtitle mb-6" >We promise there's a more enjoyable way forward.</p>
  
  </div>


</section>





{{ partial "footer-cta.html" . }}
