{{ partial "head.html" . }}

{{ partial "header.html" . }}


<section class="stats section">
  
  <div class="container">

    
    <div class="stats-grid">

      <div class="stat">
        <span class="stat-label">Number of slides</span>
        <span class="stat-value">14 SLIDES</span>
      </div>

      <div class="stat">
        <span class="stat-label">Portfolio value</span>
        <span class="stat-value">  5 Links</span>
      </div>

      <div class="stat">
        <span class="stat-label">Lifetime startups</span>
        <span class="stat-value">No limit</span>
      </div>

    </div>
  </div>
</section>



{{ partial "cta-section.html" . }}
{{ partial "footer.html" . }}
