{{ partial "head.html" . }}

{{ partial "header.html" . }} 


<section class="orbit-stories">

<div class="orbit-stage">


    <div class="ambient-blob blob1"></div>
<div class="ambient-blob blob2"></div>
<!-- Orbit 1 -->
<div class="orbit orbit--1">
<a on="tap:storyLightbox2.open" role="button">

<div class="orbit-story">
<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="200"
height="200"
layout="responsive">
</amp-img>
</div>

<span class="orbit-label">UKG DJs</span>

</a>
</div>

<!-- Orbit 2 -->
<div class="orbit orbit--2">
<a on="tap:storyLightbox2.open" role="button">

<div class="orbit-story">
<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="200"
height="200"
layout="responsive">
</amp-img>
</div>

<span class="orbit-label">Garage Clubs</span>

</a>
</div>

<!-- Orbit 3 -->
<div class="orbit orbit--3">
<a on="tap:storyLightbox2.open" role="button">

<div class="orbit-story orbit-story--featured">
<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="220"
height="220"
layout="responsive">
</amp-img>
</div>

<span class="orbit-label">Featured</span>

</a>
</div>

<!-- Orbit 4 -->
<div class="orbit orbit--4">
<a on="tap:storyLightbox2.open" role="button">

<div class="orbit-story">
<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="500"
height="500"
layout="responsive">
</amp-img>
</div>

<span class="orbit-label">Events</span>

</a>
</div>

</div>
</section>


<section class="stories-section">

<div class="container">

<div class="stories-row">

<!-- Story -->
<div class="story">
<a on="tap:storyLightbox2.open" role="button">

<div class="story-ring story-ring--insta">
<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="120"
height="120"
layout="responsive">
</amp-img>
</div>

</a>

<span class="story-label">UKG DJs</span>
</div>


<!-- Story -->
<div class="story story--garage">

<a on="tap:storyLightbox2.open" role="button">

<div class="story-bg"></div>

<div class="story-ring">
<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="120"
height="120"
layout="responsive">
</amp-img>
</div>

</a>

<span class="story-label">Garage Clubs</span>

</div>


<!-- Featured -->
<div class="story story--featured">

<a on="tap:storyLightbox2.open" role="button">

<div class="story-ring">
<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="140"
height="140"
layout="responsive">
</amp-img>
</div>

</a>

<span class="story-label">Featured</span>

</div>

</div>

</div>

</section>




<section class="spotify-stories">

<div class="container">

<div class="spotify-row">

<!-- Story -->
<div class="spotify-story">

<a on="tap:storyLightbox2.open" role="button">

<div class="spotify-ring">

<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="120"
height="120"
layout="responsive"
alt="UKG DJs">
</amp-img>

</div>

</a>

<span class="spotify-label">UKG DJs</span>

</div>


<!-- Story -->
<div class="spotify-story spotify-story--live">

<a on="tap:storyLightbox2.open" role="button">

<div class="spotify-ring">

<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="120"
height="120"
layout="responsive"
alt="Garage Clubs">
</amp-img>

</div>

</a>

<span class="spotify-label">Garage Clubs</span>

</div>


<!-- Featured -->
<div class="spotify-story spotify-story--featured">

<a on="tap:storyLightbox2.open" role="button">

<div class="spotify-ring">

<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="140"
height="140"
layout="responsive"
alt="Featured DJ">
</amp-img>

</div>

</a>

<span class="spotify-label">Featured</span>

</div>

</div>

</div>
</section>




<section class="orbit-system">
<div class="container"> 
<div class="orbit-center">

<!-- center logo -->
<div class="orbit-core">
<amp-img
src="/img/barcode.png"
width="200"
height="200"
layout="responsive"
alt="DJ Hub">
</amp-img>
</div>

</div>


<!-- ORBIT RING 1 -->
<div class="orbit-ring orbit-ring--1">

<div class="orbit-planet planet1">
<a on="tap:storyLightbox2.open">
<div class="orbit-story">
<amp-img src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="240" height="240" layout="responsive"></amp-img>
</div>
<span class="orbit-label">UKG DJs</span>
</a>
</div>

</div>


<!-- ORBIT RING 2 -->
<div class="orbit-ring orbit-ring--2">

<div class="orbit-planet planet2">
<a on="tap:storyLightbox2.open">
<div class="orbit-story">
<amp-img src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="240" height="240" layout="responsive"></amp-img>
</div>
<span class="orbit-label">Garage Clubs</span>
</a>
</div>

<div class="orbit-planet planet3">
<a on="tap:storyLightbox2.open">
<div class="orbit-story">
<amp-img src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="240" height="240" layout="responsive"></amp-img>
</div>
<span class="orbit-label">Events</span>
</a>
</div>

</div>


<!-- ORBIT RING 3 -->
<div class="orbit-ring orbit-ring--3">

<div class="orbit-planet planet2">
<a on="tap:storyLightbox2.open">
<div class="orbit-story">
<amp-img src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="240" height="240" layout="responsive"></amp-img>
</div>
<span class="orbit-label">Garage Clubs</span>
</a>
</div>

<div class="orbit-planet planet3">
<a on="tap:storyLightbox2.open">
<div class="orbit-story">
<amp-img src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="240" height="240" layout="responsive"></amp-img>
</div>
<span class="orbit-label">Events</span>
</a>
</div>

</div>


<!-- ORBIT RING 4 -->
<div class="orbit-ring orbit-ring--4">

<div class="orbit-planet planet4">
<a on="tap:storyLightbox2.open">
<div class="orbit-story">
<amp-img src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="240" height="240" layout="responsive"></amp-img>
</div>
<span class="orbit-label">Garage Clubs</span>
</a>
</div>

<div class="orbit-planet planet3">
<a on="tap:storyLightbox2.open">
<div class="orbit-story">
<amp-img src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="240" height="240" layout="responsive"></amp-img>
</div>
<span class="orbit-label">Events</span>
</a>
</div>
</div>
</div>

</section>