{{ partial "head.html" . }}

{{ partial "header.html" . }} 


<section class="orbit-stories">

<div class="orbit-stage">


    <div class="ambient-blob blob1"></div>
<div class="ambient-blob blob2"></div>
<!-- Orbit 1 -->
<div class="orbit orbit--1">
<a on="tap:storyLightbox2.open" role="button">

<div class="orbit-story">
<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="200"
height="200"
layout="responsive">
</amp-img>
</div>

<span class="orbit-label">UKG DJs</span>

</a>
</div>

<!-- Orbit 2 -->
<div class="orbit orbit--2">
<a on="tap:storyLightbox2.open" role="button">

<div class="orbit-story">
<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="200"
height="200"
layout="responsive">
</amp-img>
</div>

<span class="orbit-label">Garage Clubs</span>

</a>
</div>

<!-- Orbit 3 -->
<div class="orbit orbit--3">
<a on="tap:storyLightbox2.open" role="button">

<div class="orbit-story orbit-story--featured">
<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="220"
height="220"
layout="responsive">
</amp-img>
</div>

<span class="orbit-label">Featured</span>

</a>
</div>

<!-- Orbit 4 -->
<div class="orbit orbit--4">
<a on="tap:storyLightbox2.open" role="button">

<div class="orbit-story">
<amp-img
src="https://i.giphy.com/H2HMJBg7nwJGg.webp"
width="500"
height="500"
layout="responsive">
</amp-img>
</div>

<span class="orbit-label">Events</span>

</a>
</div>

</div>
</section>











